# Dependencies
/vendor/
composer.lock
composer.local.json

# Compiled Assets
/public/builds/

# Framework
/storage/app-detect-cache.json

# Projects
/src/

# IDE
/.idea/

# OS
.DS_Store
Thumbs.dbt

# Tailwind CLI
tailwindcss.exe
tailwind.config.js

/var/
**/.phpunit.result.cache
**/.phpunit.cache/