parameters:
    level: 5

    paths:
        - neo

    tmpDir: var/phpstan

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - identifier: constant.notFound
        - identifier: property.protected
        - identifier: method.notFound
        - identifier: constructor.unusedParameter
        - identifier: new.static
        - identifier: nullCoalesce.variable
        - identifier: attribute.abstract