parameters:
    level: 6

    paths:
        - neo

    tmpDir: var/phpstan

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - identifier: constant.notFound
        - identifier: property.protected
        - identifier: method.notFound
        - identifier: constructor.unusedParameter
        - identifier: new.static
        - identifier: nullCoalesce.variable
        - identifier: attribute.abstract